*{
  margin: 0;
  padding: 0;
  border: none;
}

html,body{
  height: 100%;
  min-height: 100%;
  font: 15px;
  color: rgba(0, 0, 0, .7);
}



.container{
  background-color: #fffff4;
  height: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figure {
  height: 200px;
  width: 250px;
  cursor: grab;
}

.figure:active{
  cursor: grabbing;
}



.box{
  height: 250px;
  width: 250px;
}

.bin{
  background-image:url('img/empty-bin.ico');
}